# Deno cache
/cache/
__cache__/
deno_dir/
analysis

# Logs
*.log

# Dependency directories
node_modules/
npm/

.env

rpc-server
mcp-rpc-runtime
mcp-rpc-runtime.exe
.claude
filedb_data/
script-history/
mcp-rpc-exec
mcp-rpc-exec.exe